h2 {
    font-weight: 600;
    font-size: 22px;
}


.form__post-comment {
    display: flex;
    align-items: center;
}

.container__input-content {
    width: 100%;
    margin: 0 1rem;
    display: flex;
}

.post_textarea {
    resize: none;
    overflow: hidden;
}

.container__inputs-finally button {
    border-radius: 0.25rem;
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFA425;
}

.container__inputs-finally button:hover {
    background-color: #FF990B;
}

.title_answer {
    margin-bottom: 0.75rem;
}

.comment__profile-pic a img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.container__inputs-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.container__profile-text {
    display: none;
}

.span_username {
    font-weight: 600;
}

@media (max-width: 1050px){
    .post_textarea {
        overflow-y: auto;
        max-height: 250px;
    }
}

@media (max-width: 550px){
    .form__post-comment {
        flex-direction: column;
        align-items: start;
    }

    #form_comment-pic {
        display: none;
    }

    .container__inputs-finally {
        margin: 10px 0 0 0;
    }

    .container__input-content {
        margin: 10px 0 0 0;
    }

    .container__inputs-form {
        flex-direction: column;
        align-items: end;
    }
    
    .container__profile-text {
        display: block;
    }

    .post_textarea {
        overflow-y: auto;
        max-height: 350px;
    }
}


.container__content-cited {
    border: 1px solid #C8C8C8;
    background: #E1E1E1;
    padding: 10px;
    border-radius: 0.25rem;
    margin-bottom: 8px;
}

.content--cited {
    font-size: 92%;
}

.title--cited {
    font-size: 92%;
    font-weight: 600;
    margin-bottom: 5px;
}

.container__answer {
    font-size: 13px;
}


/*.content--post {
    font-size: 15px;
}*/