body {
    background: #ECECEC;
}

.container__perfil {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 1.25rem;
    /*border-radius: 0.5rem;*/
    border: 1px solid #D5D5D5;
    background: #FFF;
}

.container_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.container_info-data {
    display: flex;
    align-items: center;
}

.container__profile-picture img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}


.container_name {
    font-weight: 700;
    margin-left: .5rem;
    font-size: 20px;
    word-break: break-word;
}

.container__verify {
    margin-left: .5rem;
}

.container__posts {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 16px;
}

    .container__posts .posts {
        font-weight: 500;
        font-size: 1rem;
        margin: 0 0 0 0.5rem;
    }

.container__followers a {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 0 0.5rem;
}

.container__following a {
    font-weight: 450;
    font-size: 18px;
    margin: 0 0 0 0.5rem;
}

.container__followers {
    display: flex;
    margin: 0.5rem 0 0 3rem;
    font-weight: 600;
    font-size: 18px;
}

.container__following {
    display: flex;
    margin: 0.5rem 0 0 3rem;
    font-weight: 600;
    font-size: 18px;
}

.container__name-surname {
    word-break: break-word;
    font-weight: 600;
}

.container__description {
    margin: 0.5rem 0 0.5rem 0;
    word-break: break-word;
}

.container__interaction {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.container__change-profile {
    border: 1px solid #FFA425;
    border-radius: 1.25rem;
    padding: 5px 10px;
    font-size: 17px;
    color: #FFF;
    background-color: #FFA425;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    display: inline-block;
}


@media (max-width: 468px) {
    .container__following {
        font-size: 17px !important;
        flex-direction: column !important;
        align-items: center !important;
        margin: 0.5rem 0 0 0.5rem;
    }

    .container__followers {
        font-size: 17px !important;
        flex-direction: column !important;
        align-items: center !important;
        margin: 0.5rem 0 0 0.5rem;
    }

    .container__followers a {
        font-size: 17px !important;
    }

    .container__following a {
        font-size: 17px !important;
    }
}


@media (max-width: 769px) {
    .container__change-profile {
        border: none;
        background: inherit;
        color: #000;
    }

    .container__change-profile a span {
        display: none;
    }

    .container__change-profile a i {
        display: block
    }
}

@media (max-width: 328px) {
    .container__profile-picture img {
        height: 60px;
        width: 60px;
    }

    .container__following {
        font-size: 13.5px !important;
        flex-direction: column !important;
        align-items: center !important;
        margin: 0.5rem 0 0 0.5rem;
    }

    .container__followers {
        font-size: 13.5px !important;
        flex-direction: column !important;
        align-items: center !important;
        margin: 0.5rem 0 0 0.5rem;
    }



    .container__followers a {
        font-size: 13.5px !important;
    }

    .container__following a {
        font-size: 13.5px !important;
    }

}

