.container__title {
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
}

#title_page {
    text-align: center;
    width: 100%;
}


.button_back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 17px;
    margin-right: .75rem;
    background-color: #EEEEEE;
    position: absolute;
}

    .button_back:hover {
        background-color: #EAEAEA;
    }

h2 {
    font-weight: 600;
}

h3 {
    margin-bottom: 0.5rem;
}

.container__title-input {
    margin-bottom: 1rem;
}

    .container__title-input h3,
    .container__content-input h3 {
        margin-bottom: 4px;
        font-weight: 600;
    }

.container__input-title {
    margin-bottom: 20px;
}

.container__input-title textarea {
    min-height: 0;
    max-height: 110px;
    resize: none;
    overflow-y: hidden;
}

.container__input-content textarea {
    min-height: 10rem;
    max-height: 30rem;
    resize: none;
    overflow: overlay;
}

.container__inputs-finally {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
}

    .container__inputs-finally button {
        border-radius: 0.25rem;
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
        color: #FFF;
        padding-left: 20px;
        padding-right: 20px;
    }

.button_reset {
    background-color: #BBB;
}

    .button_reset:hover {
        background-color: #929292;
    }

.button_submit {
    background-color: #FFA425;
}

    .button_submit:hover {
        background-color: #FF990B;
    }


#submit_edit-post:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}