/************ Editar cuenta *********************/
.main__containers-community {
    width: 100%;
    margin-top: 0;
}

.title__edit {
    margin-bottom: 20px;
}

.container__edit {
    display: flex;
    margin-top: 1.25rem;
    gap: 1.25rem;
}

.aside__menu-edit {
    max-width: 200px;
    position: sticky;
    top: 4rem;
    z-index: 100;
    padding: 0; /* 1.25rem 0 */

    overflow: hidden;
    height: fit-content;
}

.article__edit {
    width: calc(100% - 200px);
}

.submenu__edit-profile {
    list-style: none;
}

    .submenu__edit-profile a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 3.2rem;
        padding: 10px 15px;
        font-size: 15px;
        font-weight: 600;

        transition: 75ms;
        color: grey;

        min-width: max-content;
        width: 100%;
    }

    .submenu__edit-profile li:not(:last-child) {
        margin-bottom: 5px;
    }

    .submenu__edit-profile a.active,
    .submenu__edit-profile a:hover {
        color: black;
        border-left: 3px solid #FFA425;
    }

.arrow-button {
    display: none;
    position: absolute;
    top: 17px;
    border-radius: 50%;
    color: white;
    padding: 3.5px 6px;
    font-size: 15px;
    backdrop-filter: blur(4px);
    background: rgba(15, 20, 25, 0.75);
}

    .arrow-button:hover {
        background: rgba(39, 44, 48, 0.75);
    }

#left-arrow {
    display: none;
    left: 5px;
}

#right-arrow {
    right: 5px;
}


.submenu__edit-profile.no-scrollbar {
    overflow-y: scroll;
}

    .submenu__edit-profile.no-scrollbar::-webkit-scrollbar {
        display: none;
    }

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 22px;
    font-size: 15px;
}

.form-group2 {
    flex-direction: row;
}


.form-group .input-title {
    font-weight: 600;
    padding-left: 0px;
    margin-bottom: 5px;
}


.form-group input:not(.pass),
.form-group textarea {
    box-shadow: none;
    border: 1px solid #D5D5D5;
    border-radius: 0.25rem;
    padding: 11px;
    font-size: 15px;
}

    .form-group input:not(.pass):focus,
    .form-group textarea:focus {
        outline: none;
        border-color: #B7B7B7;
    }

.form-group textarea {
    min-height: 4rem;
    resize: none;
    overflow: hidden;
}

.container__full-name {
    display: flex;
    justify-content: space-between;
}

.container__name,
.container__surname {
    width: 48%;
}

.container__password {
    display: flex;
    align-items: center;
    width: 99.5%;
    position: relative;
    box-shadow: none;
    border: 1px solid #D5D5D5;
    border-radius: 0.25rem;
}

    .container__password:has(> .pass:focus) {
        border-color: #B7B7B7;
    }

.pass {
    width: 100%;
    padding-left: .5rem;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    padding: 11px;
    font-size: 14px;
}

    .pass:focus {
        outline: none;
    }

.btn-view-password {
    position: relative;
    right: 6px;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 0.25rem;
    padding: 7px;
    font-size: 16px;
}

    .btn-view-password:hover {
        background-color: #ECECEC;
    }

.form-submit {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;

}

.form_edit-submit {
    display: flex;
    justify-content: end;
}

.btn_edit-submit,
.btn_edit-reset,
.btn_edit-delete,
.btn_edit-img {
    border: none;
    border-radius: 0.25rem;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: #FFA425;
    color: #FFF;
    cursor: pointer;
    width: fit-content;
}

.btn_edit-reset {
    background-color: #BBB;
}

    .btn_edit-reset:hover {
        background-color: #929292;
    }

.btn_edit-delete {
    background: #E30000;
}
    .btn_edit-delete:hover {
        background-color: #F30000;
    }

.container__imgs-avatar {
    display: flex;
    align-items: end;
}

.container__img:not(:last-child) {
    margin-right: 15px;
}


/* Edit avatar */
.article_for_avatar {
    width: fit-content;
    padding: 1.25rem 1.5rem;
}

.container_form_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formEditAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_edit-img {
    margin-top: 20px;
}

.container__img img{
    object-fit: cover;
}

#profile_pic_150 {
    width: 150px;
    height: 150px;
}

#profile_pic_64 {
    width: 64px;
    height: 64px;
}

#profile_pic_32 {
    width: 32px;
    height: 32px;
}

#edit_avatar-delete {

    padding: 10px 13px;
    margin-left: 5px;
    color: #E30000;
    border-radius: 50%;
}
    #edit_avatar-delete:hover {
        transition: 200ms;
        color: red;
        background: #ECECEC;
    }

.field-validation-error.msj_error_avatar {
    margin-top: 20px;
}

.btn_disable {
    display: flex;
    justify-content: center;
    color: red;
    font-weight: 600;
    font-size: 15px;
}
    .btn_disable:hover {
        text-decoration: underline;
    }


.subtitle__disable-account {
    margin-bottom: 1rem;
}

.content__disable-account,
.list__disable-account {
    list-style: none;
    font-size: 14px;
    color: #878A8C;
    margin-bottom: 1rem;
}

.item__disable-account:not(:last-child){
    margin-bottom: 5px;
}

.item__disable-account a {
    color: #FFA425;
}
    .item__disable-account a:hover {
        text-decoration: underline;
    }

#edit_general-submit:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

/**** RESPONSIVE ***/
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .container__edit {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .aside__menu-edit {
        max-width: none;
        width: 100%;
        padding: 0;
    }

    .submenu__edit-profile {
        display: flex;
        justify-content: space-around;
    }

        .submenu__edit-profile li:not(:last-child) {
            margin-bottom: 0;
        }

        .submenu__edit-profile a {
            padding: 1.875rem 1rem;
            border-bottom: none;
        }

            .submenu__edit-profile a.active,
            .submenu__edit-profile a:hover {
                color: black;
                border-left: none;
                border-bottom: 3px solid #FFA425;
            }

    .article__edit {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .submenu__edit-profile {
        justify-content: start;
    }

    .aside__menu-edit:hover .arrow-button {
        display: inline-block;
    }
}

@media (max-width: 300px) {
    .submenu__edit-profile a {
        padding: 1.875rem .25rem;
    }
}