/*h2 {
    font-weight: 600;
    font-size: 22px;
}

.content--post {
    font-size: 15px;
}*/

#form__post-comment {
    display: flex;
    align-items: center;
}

.container__input-content {
    width: 100%;
    margin: 0 1rem;
    display: flex;
}

.post_textarea {
    resize: none;
    overflow: hidden;
}

.container__inputs-finally button {
    border-radius: 0.25rem;
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFA425;
}

    .container__inputs-finally button:hover {
        background-color: #FF990B;
    }

.title_answer {
    padding: 1rem;
}

.comment__profile-pic a img {
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.container__inputs-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.container__profile-text {
    display: none;
}

.span_username {
    font-weight: 600;
}


#container__comments {
    padding: 0;
    margin-bottom: 1.25rem;
}

.container__comment {
    padding: 1.25rem;
    background: #FFF;
    border-bottom: 1px solid #D5D5D5;
}

    .container__comment:nth-of-type(1) {
        border-top: 1px solid #D5D5D5 !important;
    }

    .container__comment:last-child {
        border-bottom: none;
    }

.container__answer {
    font-size: 14px;
}

.container__content-cited {
    border: 1px solid #E1E1E1;
    background: #F3F3F3;
    padding: 10px;
    border-radius: 0.25rem;
    margin-bottom: 8px;
}

.content--cited {
    font-size: 92%;
}

.title--cited {
    font-size: 92%;
    font-weight: 600;
    margin-bottom: 5px;
}

.feedback__like {
    font-size: 12px !important;
}

.feedback__aswer-comments {
    font-size: 13px !important;
}

.user-cited {
    font-weight: 700;
}

.highlighted {
    background: #F6F6F6;
    border-left: 3px solid #FFA425;
    transition: 100ms;
}

.highlighted-none {
    background: #FFF;
    border-left: 0px solid #FFA425;
    transition: 100ms;
}

.container_form-comment.active_answer {
    margin-top: 0;
    border-radius: 0 0 .5rem .5rem;
    border-top: none;
}

.quoted_comment_alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem .5rem 0 0;
    color: white;
    margin-top: 20px;
    padding: 7px 15px;

    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.8);

    border: 1px solid #D5D5D5;
    border-bottom:none;
}

    .quoted_comment_alert p {
        font-size: 14px;
    }

    .quoted_comment_alert button {
        border-radius: 50%;
        padding: 2.5px 5px;
    }

#username_quoted_comment {
    font-weight: 600;
}

.username_quoted {
    text-decoration: underline;
}




@media (max-width: 1050px) {
    .post_textarea {
        overflow-y: auto;
        max-height: 250px;
    }
}

@media (max-width: 550px) {
    #form__post-comment {
        flex-direction: column;
        align-items: start;
    }

    #form_comment-pic {
        display: none;
    }

    .container__inputs-finally {
        margin: 10px 0 0 0;
    }

    .container__input-content {
        margin: 10px 0 0 0;
    }

    .container__inputs-form {
        flex-direction: column;
        align-items: end;
    }

    .container__profile-text {
        display: block;
    }

    .post_textarea {
        overflow-y: auto;
        max-height: 350px;
    }
}
