@model NevulaForo.Models.ViewModels.ChangePasswordVM
@{
    ViewData["Title"] = "Cambiar contraseña";
    Layout = "~/Views/Account/Edit/_Layout.cshtml";
}

<section class="container__section">
    <h2 class="title__edit">Cambiar contraseña</h2>
    <form asp-controller="Account" asp-action="EditPassword" method="POST" >

        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label for="password" class="input-title">Contraseña actual</label>
            <div class="container__password">
                <input class="pass " id="password" type="password" name="currentPass" asp-for="currentPass" >

                <button type="button" class="btn-view-password toggle-password" toggle="#password">
                    <span class="icon"><i class="bi bi-eye-fill"></i></span>
                </button>
            </div>
            <span asp-validation-for="currentPass" class=""></span>
        </div>

        <div class="form-group">
            <label for="password" class="input-title">Nueva contraseña</label>
            <div class="container__password">
                <input class="pass" id="newpassword" type="password" name="newPass" asp-for="newPass" >
                <button type="button" class="btn-view-password toggle-password" toggle="#newpassword">
                    <span class="icon"><i class="bi bi-eye-fill"></i></span>
                </button>
            </div>
            <span asp-validation-for="newPass"></span>
        </div>

        <div class="form_edit-submit">
            <button type="submit" class="btn_edit-submit" id="edit_general-submit">Guardar cambios</button>
        </div>
    </form>
</section>


@section Scripts {
    <script src="~/js/password.js" asp-append-version="true"></script>
}

