@model NevulaForo.Models.ViewModels.CreatePublicationVM;
@{
    ViewData["Title"] = "Editar publicación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/community.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/create_publication.css" asp-append-version="true" />
}

<article class="main__containers-community">
    <form method="POST" id="formEditPost">

        <div asp-validation-summary="ModelOnly"></div>

        <input type="hidden" asp-for="@Model.Id" name="Id" id="id">
        <div class="container__title">
            <a href="javascript:history.back()" class="button_back"><i class="bi bi-arrow-left-short"></i></a>
            <div id="title_page">
                <h2>Editá tu publicación</h2>
            </div>
        </div>

        <div class="container__input-title">
            <h3>Título</h3>
            <textarea class="post_textarea" name="Title" asp-for="Title"  id="title" placeholder="Introduce un título" maxlength="250"></textarea>
            <span asp-validation-for="Title"></span>
        </div>

        <div class="container__input-content">
            <h3>Contenido</h3>
            <textarea class="post_textarea" name="Description" asp-for="Description"  id="description" placeholder="Introduce texto" maxlength="1750"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <div class="container__inputs-finally">
            <button class="button_reset" type="reset">Descartar</button>
            <button class="button_submit" type="submit">Confirmar</button>
        </div>
    </form>

</article>

@section Scripts {
    <script src="~/js/api/edit_post.js" asp-append-version="true"></script>
}