
@{
    ViewData["Title"] = "Avatar";
    Layout = "~/Views/Account/Edit/_Layout.cshtml";
}

<section class="container__section">
    <h2 class="title__edit">Cambiar avatar</h2>
    <form action="" method="post">
        <div class="container__imgs-avatar">
            <div class="container__img">
                <img src="~/images/foto_perfil.jpg" alt="" width="150px">
            </div>
            <div class="container__img">
                <img src="~/images/foto_perfil.jpg" alt="" width="64px">
            </div>
            <div class="container__img">
                <img src="~/images/foto_perfil.jpg" alt="" width="32px">
            </div>
        </div>
    </form>
</section>

