@model NevulaForo.Models.DB.Publication;
@{
    ViewData["Title"] = "Editar publicación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/community.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/create_publication.css" asp-append-version="true" />
}

<article class="main__containers-community">
    <form asp-controller="Publication" asp-action="Edit" method="POST">
        <input type="hidden" asp-for="@Model.Id" name="Id">
        <div class="container__title">
            <a href="javascript:history.back()" class="button_back"><i class="bi bi-arrow-left-short"></i></a>
            <div id="title_page">
                <h2>Creá una publicación</h2>
            </div>
        </div>

        <div class="container__input-title">
            <h3>Título</h3>
            <textarea class="post_textarea" name="Title" asp-for="Title" value="@Model.Title" id="" placeholder="Introduce un título" maxlength="250"></textarea>
            <div class="msj_error"></div>
        </div>

        <div class="container__input-content">
            <h3>Contenido</h3>
            <textarea class="post_textarea" name="Description" asp-for="Description" value="@Model.Description" id="" placeholder="Introduce texto" maxlength="1750"></textarea>
            <div class="msj_error"></div>
        </div>

        <div class="container__inputs-finally">
            <button class="button_reset" type="reset">Descartar</button>
            <button class="button_submit" type="submit">Confirmar</button>
        </div>
    </form>

</article>

