@model List<NevulaForo.Models.DB.User>

@using NevulaForo.Resources;
@using NevulaForo.Services.Implementation;
@inject UserService UserService;
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/community.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin/users.css" asp-append-version="true" />
}

<div class="container__users">
    @foreach (var account in Model)
    {
        <article class="container__perfil">
            <div class="container_info">
                <div class="container_info-data">
                    <div class="container__profile-picture">
                        <img src="@UserService.GetUserProfileImagePath(account.Id)" alt="Foto de perfil de usuario">
                    </div>
                    <div class="container_name">
                        <a asp-route-IdUser="@account.Id" asp-controller="Account" asp-action="Index">Juan Perez</a>
                        <span class="separator__info">·</span>
                        <a class="text-username" asp-route-IdUser="@account.Id" asp-controller="Account" asp-action="Index">@@@account.Username</a>
                    </div>
                    <div class="container_description">
                        <p class="">@((account.Description != null) ? account.Description : "Aún no hay descripción")</p>
                    </div>

                </div>
            </div>
        </article>
    }
</div>


@section Scripts {
    <script src="~/js/community.js" asp-append-version="true"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>
}