@{
    ViewData["Title"] = "Inicio";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<h1 class="title-principal">Bienvenido a Nevula</h1>

<div id="fondo">
    <img src="~/images/imagen_temporal3.png">
</div>

<div class="container__mains-btn">
    <button type="button" class="download">DESCARGAR</button>
    <a href="https://youtu.be/xCWWb7RUljM?t=4" target="_blank" class="trailer">VER TRAILER</a>
</div>


<!--
<div class="container__train">
	<div class="moon"></div>
	<div class="clouds">
		<div class="cloud"></div>
		<div class="cloud"></div>
		<div class="cloud"></div>
		<div class="cloud"></div>
		<div class="cloud"></div>
	</div>
	<div class="stars">
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
	</div>
	<div class="mountain"></div>

	<div class="train-container">
		<div class="train">
			<div class="train-car train-head">
				<div class="train-windows">
					<div class="train-head-window"></div>
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
				<div class="train-door"></div>
			</div>
			<div class="train-car">
				<div class="train-windows">
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
				<div class="train-door"></div>
				<div class="train-windows">
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
			</div>
			<div class="train-car">
				<div class="train-windows">
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
				<div class="train-door"></div>
				<div class="train-windows">
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
			</div>
			<div class="train-car">
				<div class="train-windows">
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
				<div class="train-door"></div>
				<div class="train-windows">
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
			</div>
			<div class="train-car">
				<div class="train-windows">
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
				<div class="train-door"></div>
				<div class="train-windows">
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
			</div>
			<div class="train-car train-end">
				<div class="train-windows">
					<div class="train-end-window"></div>
					<div class="w-left"></div>
					<div class="w-right"></div>
				</div>
				<div class="train-door"></div>
			</div>
		</div>
		<div class="train-track">
			<div class="ledge"></div>
			<div class="pillar">
				<div class="pillar-left"></div>
				<div class="pillar-middle"></div>
				<div class="pillar-middle"></div>
				<div class="pillar-middle"></div>
				<div class="pillar-middle"></div>
				<div class="pillar-right"></div>
			</div>
		</div>
	</div>
</div>
-->

<div class="container__introduction">
    <h2 class="introduction-title">¿Que es Linea B?</h2>
    <p class="introduction-content">
        Linea B ofrece una experiencia inmersiva de supervivencia en un apocalipsis zombie, transportándote a una estación de subte abandonada donde te aguardan desafíos aterradores. 
        Sumérgete en el oscuro submundo subterráneo y enfréntate a oleadas interminables de no muertos sedientos de carne. 
        Armado con armas poderosas, te embarcarás en una lucha desesperada por la supervivencia, mejorando constantemente tus habilidades y poniendo a prueba tu ingenio en cada momento. 
        Explora los rincones más siniestros de la estación, donde la amenaza acecha en cada sombra, y descubre cómo la resistencia se convierte en tu única opción para mantener a raya el inminente apocalipsis. 
        ¿Tendrás la valentía y la destreza para sobrevivir a la pesadilla que se desata en la Linea B?
    </p>
</div>

<div class="container__steps-play">
    <h2 class="title-steps">¡Comienza a jugarlo en 3 simples pasos!</h2>
    <div class="container__step">
        <span class="number-step">01</span>
        <h3 class="subtitle-step">Descargar Linea B</h3>
        <p class="content-step">Haz click en la parte de arriba a la derecha en donde dice 'DESCARGAR' o <a href="#">aquí</a> para descargar el Linea B. El juego, en estos momentos, solo está disponible para PC.</p>
    </div>
    <div class="container__step">
        <span class="number-step">02</span>
        <h3 class="subtitle-step">Instalarlo</h3>
        <p class="content-step">Una vez completada la descarga, abre el archivo de instalación. Sigue las instrucciones en pantalla para instalar el juego en tu dispositivo. Asegúrate de tener suficiente espacio de almacenamiento (5GB) y sigue cualquier requisito del sistema que se indique para una experiencia óptima.</p>
    </div>
    <div class="container__step">
        <span class="number-step">03</span>
        <h3 class="subtitle-step">¡Abrirlo y jugarlo!</h3>
        <p class="content-step">¡Listo! Ahora que "Linea B" está instalado en tu dispositivo, simplemente inicia el juego. Explora la oscura estación en la que esta ambientado Linea B, sobrevive a las oleadas de zombies y descubre los secretos que se esconden. ¡Que comience la aventura!</p>
    </div>
</div>

<footer>
	<div class="footer__interaction">
		<div class="nevula__social">
			<a href="#facebook"><i class="bi bi-facebook"></i></a>
			<a href="#twitter"><i class="bi bi-twitter"></i></a>
			<a href="#youtube"><i class="bi bi-youtube"></i></a>
		</div>
		<div class="back_to_start" id="btn_back-top">
			<button type="button"><i class="bi bi-arrow-up"></i> <span>Volver al principio</span></button>
		</div>
	</div>
    
	<div class="footer__laws">
        <p>© 2023, Nevula, Inc. Todos los derechos reservados. Nevula, el logotipo de Nevula, Linea B y el logotipo de Linea B son marcas comerciales o marcas registradas de Nevula, Inc. tanto en Argentina como en el resto del mundo. Otras marcas o nombres de productos son marcas comerciales de sus respectivos propietarios.  </p>
    </div>
    <div class="footer__helps">
        <div class="nevula__data">
			<a href="#">Términos de servicio</a>
			<a href="#">Política de privacidad</a>
			<a href="#">Seguridad de la cuenta</a>
			<a asp-controller="Home" asp-action="Help">Ayuda</a>
        </div>
        <div class="">
			<a asp-controller="Home" asp-action="Index"><img src="~/images/Logo_Nevula2.png" alt="Nevula Logo" width="65px"></a>
        </div>
    </div>
</footer>


@section Scripts {
	<script src="~/js/home.js" asp-append-version="true"></script>
}

