@{
    ViewData["Title"] = "Inicio";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div id="fondo">
    <img src="~/images/imagen_temporal3.png">
</div>

<br>
<div class="text-center">
    <h1 class="display-4">Linea B</h1>
    <p></p>
</div>


