@model NevulaForo.Models.DB.User;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/access.css" asp-append-version="true" />
}

<div class="container__all">
    <div class="container__data">
        <div class="container__logo">
            <img src="~/images/logo sin letras.png" alt="Logo Nevula" width="300px">
        </div>

        <div class="container__title">
            <p>Crea una cuenta en Nevula</p>
        </div>

        <form asp-controller="Access" asp-action="Register" method="POST" class="register__form" id="form">

            @if (ViewData["Message"] != null)
            {
                <div class="form-group">
                    <p class="msj_error">@ViewData["Message"]</p>
                </div>
            }

            <div class="container__full-name">
                <div class="form-group container__name">
                    <label for="name" class="input-title">Nombre</label>
                    <input type="text" name="name" class="" asp-for="Name">
                    <div class="msj_error"></div>
                </div>

                <div class="form-group container__surname">
                    <label for="surname" class="input-title">Apellido</label>
                    <input type="text" name="surname" class="" asp-for="Surname">
                    <div class="msj_error"></div>
                </div>
            </div>


            <div class="form-group">
                <label for="username" class="input-title">Nombre de usuario</label>
                <input type="text" name="username" class="" asp-for="Username">
                <div class="msj_error"></div>
            </div>

            <div class="form-group">
                <label for="email" class="input-title">Dirección de correo</label>
                <input type="email" name="email" class="" asp-for="Email">
                <div class="msj_error"></div>
            </div>


            <div class="form-group">
                <label for="password" class="input-title">Contraseña</label>
                <div class="container__password">
                    <input class="pass " id="password" type="password" name="password" asp-for="Password">
                    <button type="button" class="btn-view-password toggle-password" toggle="#password">
                        <span class="icon"><i class="bi bi-eye-fill"></i></span>
                    </button>
                    <div class="msj_error"></div>
                </div>
            </div>


            <div class="form-group">
                <label class="label__remember">
                    <span class="terms-conditions">Tengo 13 años o más y estoy de acuerdo con los <a class="links" href="#terminosycondiciones">términos y condiciones</a></span>
                    <input type="checkbox" id="policyAndConditions" name="policyAndConditions" value="accepted">
                    <span class="checkmark"></span>
                </label>

            </div>

            <div class="form-group">
                <button type="submit" class="" id="register-submit">Registrarse</button>
            </div>

        </form>

        <div class="container__separator">
            <div class="separator-line">
                <hr>
            </div>
            <div class="separator-letter">
                <span>O</span>
            </div>
            <div class="separator-line">
                <hr>
            </div>
        </div>

        <p class="text-create-account">¿Ya tenés cuenta? <a href="@Url.Action("Login", "Access")" class="links">Iniciar sesión</a></p>


    </div>

    @Html.ValidationSummary()
</div>

@section Scripts {
    <script src="~/js/password.js" asp-append-version="true"></script>
}

